@import 'variables'







// .swiper-slide
//     display: flex

.main
    &__item
        display: flex
        flex-wrap: wrap
        align-items: center
        justify-content: center
        min-height: calc( 100vh - 230px )
        &__card
            display: flex
            flex-direction: column
            align-items: center
            margin: 50px 0px
            &__name
                align-self: flex-start
                font-family: 'main'
                font-size: 40px
                font-weight: 700
                text-transform: uppercase
                color: $secondary-color
            &__container
                display: flex
                justify-content: space-evenly
                align-items: flex-start
                max-width: 100vw
                margin-bottom: 40px
                &__order
                    display: flex
                    flex-direction: column
                    align-items: flex-start
                    max-width: 35vw
                    min-width: 35vw
                    &__slider
                        margin: 0px !important
                        position: relative
                        display: flex !important
                        flex-direction: column
                        align-items: center
                        justify-content: center
                        max-width: 35vw
                        min-width: 35vw
                        &__slide
                            display: flex !important
                            justify-content: center
                            &__img
                                max-height: 20vw
                                min-height: 20vw
                                max-width: 30vw
                                min-width: 30vw
                                border-radius: 30px
                                border: 3px solid $main-color
                    &__h3,
                    &__p
                        font-family: 'main'
                        color: $secondary-color
                        font-size: 1.2vw
                        line-height: 125%
                        margin: 0px 40px 20px 40px
                        &__tel
                            text-decoration: none
                            color: $main-color
                    &__p
                        font-size: 1vw
                        font-weight: bold
                        &__span
                            font-weight: 550
                    &__link
                        align-self: center
                        &__button
                            @include button
                &__description
                    align-self: flex-start
                    max-width: 50vw
                    min-width: 40vw
                    margin-left: 30px
                    &__name
                        align-self: flex-start
                        font-family: 'main'
                        font-size: 40px
                        font-weight: 700
                        text-transform: uppercase
                        color: $secondary-color
                        margin-bottom: 20px
                    &__text
                        max-height: 50vh
                        overflow-y: auto
                        &::-webkit-scrollbar 
                            width: 10px
                        &::-webkit-scrollbar-track 
                            background-color: #c0c0c0
                            border-radius: 10px
                        &::-webkit-scrollbar-thumb 
                            background-color: $main-color
                            border-radius: 10px
                        &__p
                            font-family: 'main'
                            font-size: 16px
                            line-height: 180%
                            margin-bottom: 15px
            &__features
                width: fit-content
                align-self: flex-start
                // margin-bottom: 50px
                &__table
                    min-width: 50vw
                    max-width: 70vw
                    border-collapse: collapse
                    &__head
                        &__tr
                            &__th
                                text-align: start
                                font-family: 'main'
                                font-size: 30px
                                font-weight: 700
                                padding-bottom: 15px
                    &__body
                        &__tr
                            display: table-row
                            font-family: 'main'
                            font-size: 20px
                            padding: 15px
                            &:nth-child(odd)
                                background-color: #e9e9e9
                            &__name
                                font-family: 'mainLight'
                                font-weight: 700
                                padding: 20px 
                                border-top-left-radius: 15px
                                border-bottom-left-radius: 15px
                            &__value
                                padding: 20px 
                                border-top-right-radius: 15px
                                border-bottom-right-radius: 15px









.red
    color: #a00303

.green
    color: #236e05


// .main__item__card__container__order__thumbs 
//   width: 100%
//   height: 120px
//   margin-top: 10px


// .main__item__card__container__order__thumbs__slide 
//   width: 120px
//   height: 120px
//   position: relative


// .main__item__card__container__order__thumbs__slide__img 
//   width: 100%
//   height: 100%
//   border-radius: 10px