@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 4, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 11, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block1 {
  background: url("../img/catalog_photo.png") no-repeat center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
}

/* line 14, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block1__h2 {
  font-family: 'decorative';
  font-size: 70px;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 150px;
}

/* line 17, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: calc( 100vw - 300px);
  min-width: calc( 100vw - 300px);
}

/* line 26, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__underline {
  border: none;
  width: 50%;
  border-bottom: 1px solid #27272738;
}

/* line 30, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category {
  min-height: 600px;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 37, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name {
  align-self: flex-start;
  text-align: start;
  font-family: 'main';
  font-weight: 700;
}

/* line 42, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__theme {
  font-size: 30px;
  margin-bottom: 25px;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__theme__underline {
  width: 25%;
  border: none;
  border-top: 3px solid #FFCB03;
}

/* line 49, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 53, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__text {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

/* line 57, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.main__catalog__block2__category__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

/*# sourceMappingURL=catalog.css.map */