@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 4, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header {
  height: 80px;
  background-color: #232020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1;
}

/* line 14, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__logo {
  padding: 15px 35px;
  max-height: 60px;
}

/* line 17, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 21, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav .active {
  color: #FFCB03;
}

/* line 23, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__a {
  text-decoration: none;
  font-family: 'main';
  font-size: 14px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 32px;
}

/* line 30, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__a:last-child {
  padding-right: 36px;
}

/* line 32, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__a:hover {
  color: #FFCB03;
  text-decoration: none;
  border-top: 5px solid #FFCB03;
  height: 46px;
  padding-top: 29px;
}

/* line 38, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
  margin-right: 35px;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.header__nav__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

@media screen and (max-width: 1168px) {
  /* line 48, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
  .header__nav__a {
    font-size: 0.65rem;
  }
}

/* line 52, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown {
  position: relative;
  margin-bottom: 3px;
}

/* line 57, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown.active .header__nav__dropdown-content {
  display: block;
}

/* line 60, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown .header__nav__dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #23202088;
  padding: 10px;
  z-index: 1;
  border-radius: 15px;
}

/* line 70, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown .header__nav__dropdown-content a {
  display: block;
  font-family: 'main';
  padding: 15px 25px;
  text-decoration: none;
  color: #FFCB03;
  border-radius: 15px;
}

/* line 77, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown .header__nav__dropdown-content a:first-child {
  margin-top: 20px;
}

/* line 80, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown .header__nav__dropdown-content a:hover {
  background-color: #232020;
}

/* line 83, ../../home/kate/Projects/SibMoto/src/sass/header.sass */
.header__nav__dropdown .header__nav__dropdown-content a.active {
  background-color: #232020;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 5, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__slider {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  max-height: calc( 100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

/* line 14, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__slider__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 500px;
  min-height: 400px;
}

/* line 22, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__slider__text__h2 {
  font-family: 'mainBold';
  font-size: 40px;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 30, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__slider__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 32, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__slider__text__h1 {
  font-family: 'decorative';
  font-size: 70px;
  color: #ffffff;
  position: relative;
}

/* line 37, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__slider__text__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.home__slider__text__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

/* line 39, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales {
  max-height: 100vh;
  min-width: calc( 100vw - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__h1 {
  font-family: 'mainBold';
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 51, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__h1__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
  margin-bottom: 55px;
}

/* line 54, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__content {
  display: flex;
  max-width: calc( 100vw - 100px);
  min-width: calc( 100vw - 100px);
  justify-content: space-around;
  margin-bottom: 80px;
}

/* line 60, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__content__sale1, .home__sales__content__sale2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  min-zoom: 2;
}

/* line 66, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__content__sale1__img, .home__sales__content__sale2__img {
  margin-bottom: 20px;
  max-width: 470px;
}

/* line 69, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__content__sale1__h3, .home__sales__content__sale2__h3 {
  font-family: 'mainBold';
  font-size: 30px;
  margin-bottom: 10px;
}

/* line 73, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__content__sale1__p, .home__sales__content__sale2__p {
  font-family: 'mainLight';
  font-size: 16px;
  color: #000000a3;
  text-align: center;
  max-width: 476px;
  margin-bottom: 15px;
}

/* line 80, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__content__sale1__button, .home__sales__content__sale2__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.home__sales__content__sale1__button:hover, .home__sales__content__sale2__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

/* line 82, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__credit {
  width: calc( 100vw - 500px);
  max-height: 180px;
  min-width: fit-content;
  max-width: 800px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 14px 24px -10px rgba(0, 0, 0, 0.25), inset 0px -14px 24px -10px rgba(0, 0, 0, 0.25);
}

/* line 95, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__credit__content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

/* line 101, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__credit__content__text__h3 {
  font-family: 'mainLight';
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  color: #000000a3;
  margin-bottom: 15px;
}

/* line 108, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__sales__credit__content__text__p {
  font-family: 'main';
  font-size: 24px;
  text-align: center;
  color: #000000a3;
}

/* line 113, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232020;
  box-shadow: inset 0px -17px 34px rgba(0, 0, 0, 0.47), inset 0px 17px 34px rgba(0, 0, 0, 0.47);
}

/* line 123, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: calc( 100vw - 100px);
}

/* line 128, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content__img {
  max-width: 550px;
  min-width: 300px;
}

/* line 131, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 50px;
}

/* line 137, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content__text__h2 {
  color: #FFCB03;
  font-family: 'mainBold';
  font-size: 64px;
  margin-bottom: 100px;
}

/* line 142, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 144, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content__text__p {
  max-width: 525px;
  min-width: 300px;
  font-family: 'mainUltraLight';
  font-size: 24px;
  color: #fff;
  margin-bottom: 70px;
}

/* line 151, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__stels__content__text__button {
  align-self: flex-end;
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.home__stels__content__text__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

/* line 154, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic {
  max-height: calc( 100vh - 20px);
  min-height: calc( 100vh - 20px);
  width: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc( 100vw - 100px);
}

/* line 163, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content {
  margin: 0px 50px;
  max-height: 100vh;
  display: flex;
  justify-content: space-around;
}

/* line 168, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  min-width: 300px;
  margin: 50px 0px;
}

/* line 175, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__text__h2 {
  font-family: 'mainExtraBold';
  font-size: 40px;
  line-height: 125.5%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 185, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 187, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__text__paragraph {
  display: block;
}

/* line 189, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__text__paragraph__p {
  font-family: 'mainLight';
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

/* line 194, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__text__paragraph__p__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
  align-self: center;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.home__technic__content__text__paragraph__p__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

/* line 197, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__img {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 24% 19% 11% 45%;
  grid-template-rows: 4% 9% 30% 4% 0% 10%;
  grid-template-areas: ". . b b" ". . b b" "a a b b" "a a . d" "a a . d" ". . . d" "c c c d";
}

/* line 203, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__img__img1 {
  max-width: 90%;
  grid-area: a;
  justify-self: start;
  align-self: start;
  width: -webkit-fill-available;
}

/* line 209, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__img__img2 {
  max-width: 90%;
  grid-area: b;
  justify-self: start;
  align-self: end;
  width: -webkit-fill-available;
}

/* line 215, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__img__img3 {
  max-width: 90%;
  grid-area: c;
  justify-self: start;
  align-self: start;
  width: -webkit-fill-available;
}

/* line 221, ../../home/kate/Projects/SibMoto/src/sass/home.sass */
.home__technic__content__img__img4 {
  max-width: 90%;
  grid-area: d;
  justify-self: end;
  width: -webkit-fill-available;
  align-self: start;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 3, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer {
  height: 150px;
  background-color: #232020;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 9, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts {
  width: 100vw;
  height: -webkit-fill-available;
  font-family: 'mainUltraLight';
  font-size: 19px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: #bebebe;
  padding: 10px 50px;
}

/* line 19, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__adress, .footer__contacts__phones {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 24, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__adress__item, .footer__contacts__phones__item {
  margin-bottom: 10px;
}

/* line 26, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__adress__item__bold, .footer__contacts__phones__item__bold {
  font-family: "mainBold";
}

/* line 30, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__adress__item__copyright {
  margin-top: 20px;
  font-size: 16px;
}

/* line 33, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__adress__item__a {
  text-decoration: none;
  color: #bebebe;
}

/* line 36, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__adress__item__a:hover {
  color: #FFCB03;
}

/* line 39, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__phones__item {
  display: flex;
}

/* line 41, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__phones__item__a {
  text-decoration: none;
  color: #bebebe;
}

/* line 44, ../../home/kate/Projects/SibMoto/src/sass/footer.sass */
.footer__contacts__phones__item__a:hover {
  color: #FFCB03;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 5, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 12, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block1 {
  background: url("../img/who_photo.png") no-repeat center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
}

/* line 20, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block1__h2 {
  font-family: 'decorative';
  font-size: 70px;
  color: #fff;
  position: absolute;
  text-align: center;
}

/* line 27, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block2 {
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-content: center;
  max-width: calc( 100vw - 100px);
  min-width: calc( 100vw - 100px);
}

/* line 37, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block2__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 41, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block2__text__h2 {
  font-family: 'mainBold';
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

/* line 46, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block2__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 48, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block2__text__p {
  font-family: 'mainLight';
  font-size: 24px;
  line-height: 120%;
  max-width: 410px;
}

/* line 53, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3 {
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc( 100vw - 100px);
  min-width: calc( 100vw - 100px);
}

/* line 62, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3__text {
  display: flex;
  min-width: -webkit-fill-available;
  justify-content: space-around;
}

/* line 66, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3__text__column {
  max-width: 450px;
}

/* line 68, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3__text__column__h2 {
  font-family: 'mainBold';
  font-size: 36px;
  margin-bottom: 35px;
}

/* line 72, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3__text__column__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 74, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3__text__column__p {
  font-family: 'mainLight';
  font-size: 20px;
  line-height: 150%;
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block3__text__column__p:first-child {
  margin-bottom: 20px;
}

/* line 80, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block4 {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: calc( 100vw - 100px);
  min-width: calc( 100vw - 100px);
  margin: 100px 0px;
}

/* line 90, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block4__text {
  max-width: 1000px;
  margin-left: 50px;
}

/* line 93, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block4__text__h2 {
  font-family: 'mainBold';
  font-size: 36px;
  margin-bottom: 35px;
}

/* line 97, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block4__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 99, ../../home/kate/Projects/SibMoto/src/sass/about.sass */
.main__about__block4__text__p {
  font-family: 'mainLight';
  font-size: 20px;
  line-height: 150%;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 4, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 11, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block1 {
  background: url("../img/services_photo.png") no-repeat center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
}

/* line 14, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block1__h2 {
  font-family: 'decorative';
  font-size: 70px;
  color: #fff;
  position: absolute;
  text-align: center;
}

/* line 16, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: calc( 100vw - 300px);
  min-width: calc( 100vw - 300px);
}

/* line 27, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__text {
  display: flex;
  flex-direction: column;
  max-width: 535px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* line 34, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__text__h2 {
  font-family: 'mainBold';
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 43, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__text__p {
  font-family: 'mainLight';
  font-size: 24px;
}

/* line 48, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__cards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: calc(100vw - 600px);
}

/* line 54, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 470px;
  text-align: center;
  margin-bottom: 65px;
}

/* line 62, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__cards__card__photo {
  margin-bottom: 20px;
}

/* line 65, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__cards__card__text__h3 {
  font-family: 'mainBold';
  font-size: 36px;
}

/* line 68, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block2__cards__card__text__p {
  font-family: 'mainLight';
  font-size: 20px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.7);
}

/* line 73, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3 {
  background: url("../img/waves.png") no-repeat center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
  min-height: calc( 100vh - 180px);
  max-height: calc( 100vh - 180px);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  min-width: 100%;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3__content__text {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  max-width: 505px;
  margin: 0px 20px;
}

/* line 92, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3__content__text__h2 {
  font-family: 'mainBold';
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}

/* line 99, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3__content__text__h2__underline {
  border-bottom: 3px solid #FFCB03;
  width: 80px;
  padding-top: 16px;
}

/* line 101, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3__content__text__p {
  font-family: 'mainLight';
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 20px;
  max-width: 440px;
}

/* line 108, ../../home/kate/Projects/SibMoto/src/sass/services.sass */
.main__services__block3__content__text__ul__li {
  font-family: 'main';
  font-size: 18px;
  line-height: 150%;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 4, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 11, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block1 {
  background: url("../img/catalog_photo.png") no-repeat center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  max-width: 100%;
  min-width: 100%;
  min-height: calc( 100vh - 80px);
  max-height: calc( 100vh - 80px);
}

/* line 14, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block1__h2 {
  font-family: 'decorative';
  font-size: 70px;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 150px;
}

/* line 17, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  justify-content: space-between;
  align-items: center;
  max-width: calc( 100vw - 300px);
  min-width: calc( 100vw - 300px);
}

/* line 26, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__underline {
  border: none;
  width: 50%;
  border-bottom: 1px solid #27272738;
}

/* line 30, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category {
  min-height: 600px;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* line 37, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name {
  align-self: flex-start;
  text-align: start;
  font-family: 'main';
  font-weight: 700;
}

/* line 42, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__theme {
  font-size: 30px;
  margin-bottom: 25px;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__theme__underline {
  width: 25%;
  border: none;
  border-top: 3px solid #FFCB03;
}

/* line 49, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* line 53, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__name__text {
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

/* line 57, ../../home/kate/Projects/SibMoto/src/sass/catalog.sass */
.main__catalog__block2__category__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.main__catalog__block2__category__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 6, ../../home/kate/Projects/SibMoto/src/sass/products.sass */
.main__products {
  display: flex;
  justify-content: center;
}

/* line 11, ../../home/kate/Projects/SibMoto/src/sass/products.sass */
.main__products__template {
  max-width: 80vw;
  min-width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* line 20, ../../home/kate/Projects/SibMoto/src/sass/products.sass */
.main__products__template__item {
  max-width: 350px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 30px 30px 30px;
}

/* line 30, ../../home/kate/Projects/SibMoto/src/sass/products.sass */
.main__products__template__item__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

/* line 35, ../../home/kate/Projects/SibMoto/src/sass/products.sass */
.main__products__template__item__name {
  font-family: 'main';
  font-size: 20px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}

/* line 41, ../../home/kate/Projects/SibMoto/src/sass/products.sass */
.main__products__template__item__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.main__products__template__item__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

@font-face {
  font-family: 'main';
  src: url(../fonts/MullerRegular.otf);
}

@font-face {
  font-family: 'mainBold';
  src: url(../fonts/MullerBold.otf);
}

@font-face {
  font-family: 'mainExtraBold';
  src: url(../fonts/MullerExtraBold.otf);
}

@font-face {
  font-family: 'mainLight';
  src: url(../fonts/MullerLight.otf);
}

@font-face {
  font-family: 'mainUltraLight';
  src: url(../fonts/MullerUltraLight.otf);
}

@font-face {
  font-family: 'decorative';
  src: url(../fonts/IntroRustG-Base.otf);
}

/* line 78, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar {
  width: 10px;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-track {
  background-color: #232020;
}

/* line 84, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 13, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: calc( 100vh - 230px);
}

/* line 19, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0px;
}

/* line 24, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__name {
  align-self: flex-start;
  font-family: 'main';
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232020;
}

/* line 31, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 100vw;
  margin-bottom: 40px;
}

/* line 37, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 35vw;
  min-width: 35vw;
}

/* line 43, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__slider {
  margin: 0px !important;
  position: relative;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 35vw;
  min-width: 35vw;
}

/* line 52, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__slider__slide {
  display: flex !important;
  justify-content: center;
}

/* line 55, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__slider__slide__img {
  max-height: 20vw;
  min-height: 20vw;
  max-width: 30vw;
  min-width: 30vw;
  border-radius: 30px;
  border: 3px solid #FFCB03;
}

/* line 62, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__h3, .main__item__card__container__order__p {
  font-family: 'main';
  color: #232020;
  font-size: 1.2vw;
  line-height: 125%;
  margin: 0px 40px 20px 40px;
}

/* line 69, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__h3__tel, .main__item__card__container__order__p__tel {
  text-decoration: none;
  color: #FFCB03;
}

/* line 72, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__p {
  font-size: 1vw;
  font-weight: bold;
}

/* line 75, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__p__span {
  font-weight: 550;
}

/* line 77, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__link {
  align-self: center;
}

/* line 79, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__order__link__button {
  height: 46px;
  width: fit-content;
  padding: 0px 30px;
  background-color: #FFCB03;
  color: #000000;
  border-radius: 30px;
  border: none;
  font-family: 'main';
  text-transform: uppercase;
  transition: all;
  transition-duration: 0.5s;
}

/* line 45, ../../home/kate/Projects/SibMoto/src/sass/variables.sass */
.main__item__card__container__order__link__button:hover {
  background-color: #C17D17;
  color: #FFFFFF;
  box-shadow: inset 2px 4px 6px rgba(0, 0, 0, 0.25);
  transition: all;
  transition-duration: 0.5s;
}

/* line 81, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description {
  align-self: flex-start;
  max-width: 50vw;
  min-width: 40vw;
  margin-left: 30px;
}

/* line 86, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description__name {
  align-self: flex-start;
  font-family: 'main';
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #232020;
  margin-bottom: 20px;
}

/* line 94, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description__text {
  max-height: 50vh;
  overflow-y: auto;
}

/* line 97, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description__text::-webkit-scrollbar {
  width: 10px;
}

/* line 99, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description__text::-webkit-scrollbar-track {
  background-color: #c0c0c0;
  border-radius: 10px;
}

/* line 102, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description__text::-webkit-scrollbar-thumb {
  background-color: #FFCB03;
  border-radius: 10px;
}

/* line 105, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__container__description__text__p {
  font-family: 'main';
  font-size: 16px;
  line-height: 180%;
  margin-bottom: 15px;
}

/* line 110, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features {
  width: fit-content;
  align-self: flex-start;
}

/* line 114, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features__table {
  min-width: 50vw;
  max-width: 70vw;
  border-collapse: collapse;
}

/* line 120, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features__table__head__tr__th {
  text-align: start;
  font-family: 'main';
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 15px;
}

/* line 127, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features__table__body__tr {
  display: table-row;
  font-family: 'main';
  font-size: 20px;
  padding: 15px;
}

/* line 132, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features__table__body__tr:nth-child(odd) {
  background-color: #e9e9e9;
}

/* line 134, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features__table__body__tr__name {
  font-family: 'mainLight';
  font-weight: 700;
  padding: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* line 140, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.main__item__card__features__table__body__tr__value {
  padding: 20px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* line 153, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.red {
  color: #a00303;
}

/* line 156, ../../home/kate/Projects/SibMoto/src/sass/itemCard.sass */
.green {
  color: #236e05;
}

/* line 12, ../../home/kate/Projects/SibMoto/src/sass/styles.sass */
* {
  margin: 0px;
  padding: 0px;
}

/*# sourceMappingURL=styles.css.map */